@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Karla:ital,wght@0,700;1,400&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.root{  
--Soft-orange: hsl(35, 77%, 62%);
--Soft-red: hsl(5, 85%, 63%);
--Off-white: hsl(36, 100%, 99%);
--Grayish-blue: hsl(233, 8%, 79%);
--Dark-grayish-blue: hsl(236, 13%, 42%);
--Very-dark-blue: hsl(240, 100%, 5%);

}

body{
    font-family: "Inter", sans-serif;
    font-size: 15px;
}

/* Header style */
.mobile{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.8rem;
}

.mobile #toggle{
    display: none;
}

.mobile .buttonContainer{
    display: flex;
    flex-direction: column;
    width: 30px;
    height: 100%;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

 .mobile  .button, .button::before, .button::after{
  display: block;
  background-color:#000;
  width: 1.8rem;
  height: 4px;
  position: absolute;
  transition:transform 500ms cubic-bezier(0.23,1,0.32,1);
  z-index: 1000;
}

.mobile .button, .button::before{
    content: "";
    margin-block-start: -8px;
}

.mobile .button, .button::after{
    content: "";
    margin-block-start: 8px;
}

.mobile #toggle ~ .navbar{
    background-color: hsl(36, 100%, 99%);
    position: fixed;
    left: 30%;
    right: 0;
    top: 0;
    bottom: 0;
    /* transform: translateX(120%); */
    transition: transform 500ms cubic-bezier(0.23, 1, 0.32, 1);
}

.mobile #toggle ~ .navbar .list{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: start;
    padding-block-start: 5rem;
    padding-inline-start: 1rem;
}

a{
    text-decoration: none;
    color: hsl(236, 13%, 42%);
  }
   

.mobile #toggle ~ .navbar .list > li{
    padding-block: 0.7rem;
    list-style: none; 
}

/*active hamburger button states styles*/
 #toggle:checked + .buttonContainer .button::before{
    margin-block-start: 0;
    transform: rotate(-405deg);
  } 

#toggle:checked + .buttonContainer .button{
    background-color: hsl(240, 100%, 5%);
}

 #toggle:checked + .buttonContainer .button::after{
    margin-block-start: 0;
    transform: rotate(405deg);
}

.mobile  #toggle:checked  ~ .navbar{
    transform: translateX(1000%);
}

.main{
    width: 100%;
    height: 100%;
    padding-inline-start: 1.5rem;
    padding-inline-end: 1.5rem;
}

.main 
.image{
    padding: 10rem;
    width: 100%;
    height: 50%;
    background-image: url(../news-homepage-main/assets/images/image-web-3-mobile.jpg);
}

.main .mainSection{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 50%;
}

.main .mainSection .text{
    width: 100%;
    height: 50%;
    margin-block-start: 1.5rem;
}

.main .mainSection .text > h1{
    font-family: "Inter", sans-serif;
    font-size: 2.5rem;
    font-weight: 500;
    /* margin-block-start: 2rem; */
}

.main .mainSection .text > p{
    font-family: "Inter", sans-serif;
    font-size: 0.9rem;
    font-weight: 400;
    line-height: 1.6rem;
    margin-block-end: 1.5rem;
}

.main .mainSection .text > a{
  background-color: hsl(5, 85%, 63%);
  color: hsl(36, 100%, 99%);
  padding: 0.5rem 2rem;
  
}

.main .box{
    width: 300px;
    height: 450px;
    background-color: hsl(240, 100%, 5%);
    margin-block-start: 2rem;
    margin-block-end: 2rem;
}

.main .box .box1 > h2{
    font-family: "Inter", sans-serif;
    font-size: 2rem;
    font-weight: 500;
    color: hsl(35, 77%, 62%);
    padding-block: 1rem;
    padding-inline-start: 1rem;
}

.main .box .box1 h3{
    font-family: "Inter", sans-serif;
    font-size: 1rem;
    font-weight: 500;
    color: hsl(36, 100%, 99%);
    padding-block: 1rem;
    padding-inline-start: 1rem;
}

.main .box .box1 p{
    font-family: "Inter", sans-serif;
    font-size: 0.9rem;
    font-weight: 400;
    color: hsl(36, 100%, 99%);
    padding-block-end: 2rem;
    padding-inline-start: 1rem;
    
}


.main .box .box2 > h3{
    font-family: "Inter", sans-serif;
    font-size: 1rem;
    font-weight: 500;
    color: hsl(36, 100%, 99%);
    padding-block: 1rem;
    padding-inline-start: 1rem;
}

.main .box .box2 p{
    font-family: "Inter", sans-serif;
    font-size: 0.9rem;
    font-weight: 500;
    color: hsl(36, 100%, 99%);
    padding-block: 1rem;
    padding-inline-start: 1rem;
    line-height: 1.5rem;
}

.main .box .box3 > h3{
    font-family: "Inter", sans-serif;
    font-size: 1rem;
    font-weight: 500;
    color: hsl(36, 100%, 99%);
    padding-block: 1rem;
    padding-inline-start: 1rem;
}

.main .box .box3 p{
    font-family: "Inter", sans-serif;
    font-size: 0.9rem;
    font-weight: 500;
    color: hsl(36, 100%, 99%);
    padding-block: 1rem;
    padding-inline-start: 1rem;
}
.main .footer{
    display: grid;
    width: 100%;
    height: 50%;
    /* position: relative; */
}

.main .footer .imgOne .first-txt{
    position: relative;
    top: 50%;
    right: 15%;
}


